body {
    font-family: "Gill Sans", sans-serif;
    background: linear-gradient(to bottom, #fff0f5, #fce4ec);
    color: #030001c5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgb(236, 68, 127);
    border-bottom: dashed 2px rgba(175, 231, 234, 0.768);
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    color: rgb(225, 150, 193);
    background: linear-gradient(to right, #a3d0d8, #ffffff);
    padding: 0.3em 0.5em;
    border-radius: 6px;
    margin-top: 1em;
}



#result p {
    margin: 0.3em 0;
    color: #000000;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ffa0b8;
    border-radius: 5px;
    margin-right: 0.5em;
    background: #fff5f8;
}

#result {
background: #ffeaea;
  margin: 40px auto;
  padding: 20px 30px;
  width: 50%;
  border-radius: 15px;
  border: dashed 2px #ffc3c3;
  box-shadow: 0 0 10px #ffb6c1;
  text-align: left;
  font-size: 1.2em;
}

#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#result li {
  padding: 8px 0;
  border-bottom: 1px dotted #ff69b4;
  font-weight: bold;
}

button {
    padding: 0.5em 1em;
    background: #ffa0b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff8fa6;
}

